<configuration>

    <!-- 开启日志 -->
    <springProperty scope="context" name="loggerEnable" source="template.logger.enable"/>
    <!-- 定义日志级别 -->
    <springProperty scope="context" name="loggerLevel" source="template.logger.level"/>
    <!-- 指定日志文件开关 -->
    <springProperty scope="context" name="fileEnable" source="template.logger.file.enable"/>
    <!-- 指定日志文件名称 -->
    <springProperty scope="context" name="fileName" source="template.logger.file.name"/>
    <!-- 指定日志文件路径 -->
    <springProperty scope="context" name="filePath" source="template.logger.file.path"/>

    <root level="${loggerLevel}">
        <appender-ref ref="FILE" />
        <appender-ref ref="STDOUT" />
    </root>

    <!-- 日志控制总开关 -->
    <if condition='property("loggerEnable").equals("false")'>
        <then>
            <root level="OFF">
                <appender-ref ref="FILE" />
            </root>
        </then>
    </if>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <!-- 设置日志文件名 -->
        <file>${filePath}/${fileName}</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
</configuration>
