<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.template.module.system.mapper.RoleMenuMapper">

    <resultMap id="SecurityRoleMenuMap" type="com.project.template.security.entity.SecurityRoleMenu">
        <result column="menu_id" property="menuId"/>
        <result column="menu_code" property="menuCode"/>
        <result column="menu_name" property="menuName"/>
        <result column="parent_id" property="parentId"/>
        <result column="level" property="level"/>
        <result column="path" property="path"/>
        <result column="uri" property="uri"/>
        <collection property="roleMenuList" column="menu_id" ofType="list"
                    select="com.project.template.module.system.mapper.RoleMenuMapper.listSecurityRoleMenuByParentId"/>
    </resultMap>

    <select id="findRoleMenu" parameterType="long" resultMap="SecurityRoleMenuMap">
        SELECT
            role_menu.menu_id,
            menu.menu_code,
            menu.menu_name,
            menu.parent_id,
            menu.`level`,
            menu.path,
            menu.uri
        FROM sys_role_menu AS role_menu
        LEFT JOIN sys_menu AS menu
        ON role_menu.menu_id = menu.id
        AND menu.is_deleted = 0
        WHERE role_menu.is_deleted = 0
        AND LEVEL = 1
        <if test="roleIdList != null and roleIdList.size > 0">
            AND role_menu.role_id IN
            <foreach collection="roleIdList" item="roleId" open="(" close=")" index="">
                #{roleId}
            </foreach>
        </if>
        ORDER BY menu.sorted
    </select>

    <select id="listSecurityRoleMenuByParentId" parameterType="long" resultMap="SecurityRoleMenuMap">
        SELECT
            menu.id AS menu_id,
            menu.menu_code,
            menu.menu_name,
            menu.parent_id,
            menu.`level`,
            menu.path,
            menu.uri
        FROM sys_menu AS menu
        WHERE menu.is_deleted = 0
        <if test="parentId != null and parentId != ''">
            AND menu.parent_id = #{parentId}
        </if>
        ORDER BY menu.sorted
    </select>

</mapper>
