<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.template.module.system.mapper.UserRoleMapper">

    <select id="findUserRole" parameterType="long" resultType="com.project.template.security.entity.SecurityUserRole">
        SELECT DISTINCT
            user_role.user_id,
            user_role.role_id,
            role.role_code,
            role.role_name
        FROM sys_user_role AS user_role
        LEFT JOIN sys_role AS role ON user_role.role_id = role.id AND role.is_deleted = 0
        WHERE user_role.is_deleted = 0
        <if test="userId != null and userId != ''">
            AND user_role.user_id = #{userId}
        </if>
    </select>

</mapper>
